@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col">
			<form asp-action="CompleteTransaction"
			      asp-controller="Transaction"
			      method="post">
				<div class="row">
					<div class="col">
						Receiver Account Id:
					</div>
					<div class="col">
                    	<input type="text" name="receiverAccountId"/>
                    </div>
				</div>
				<div class="row mt-2">
					<div class="col">
						Amount:
					</div>
					<div class="col">
						<input type="number" name="amount"/>
					</div>
				</div>
				<input type="submit" value="Send"/>
			</form>
		</div>
		<div class="col">
			@if (TempData["message"] != null)
            		{
            			<p style="color: orange;">@TempData["message"]</p>
            		}
		</div>
	</div>
</div>
