@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container fluid">
    <div class="row justify-content-end mb-2">
        <button onclick="getAllData()">Load All Data</button>
    </div>
    <br/>
    <div class="row justify-content-center  my-2">      
        <div class="col">
            <div class="row flex justify-content-between align-items-center">
                <div class="col-md-4">
                    <h1>Users</h1>
                </div>
                <div class="col-md-4 ">
                    <button onclick="getData('users')">Get users data</button>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">name</th>
                            <th scope="col">password</th>
                            <th scope="col">account_id</th>
                        </tr>
                    </thead>
                    <tbody id="users">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
     <div class="row justify-content-center  my-2">
        <div class="col">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-4">
                    <h1>Accounts</h1>
                </div>
                <div class="col-md-4 ">
                    <button onclick="getData('accounts')">Get accounts data</button>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">amount</th>
                        </tr>
                    </thead>
                    <tbody id="accounts">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="row justify-content-center  my-2">
        <div class="col">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-4">
                    <h1>Transactions</h1>
                </div>
                <div class="col-md-4 ">
                    <button onclick="getData('transactions')">Get transactions data</button>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">sender_account_id</th>
                            <th scope="col">reciver_account_id</th>
                            <th scope="col">amount</th>
                        </tr>
                    </thead>
                    <tbody id="transactions">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
    return parent.appendChild(el);
    }

    function getData(type){
        const tbody = document.getElementById(type); 
        tbody.innerHTML = "";
        const url = `http://localhost:5001/api/${type}`; 
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data)
            let records = data;
            return records.map(function(record) {
                let tr = createNode('tr');
                Object.entries(record).forEach(([key, value]) => {
                    td = createNode('td'),
                    td.innerHTML = value;
                    append(tr, td);
                })
                append(tbody, tr)
        })
        })
        .catch(function(error) {
        console.log(error);
        });

    }

    function getAllData(){
        getData('users');
        getData('accounts');
        getData('transactions');
    }


</script>