@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col">
			<form asp-action="Register"
			      asp-controller="Home"
			      method="post">
				<div class="row">
					<div class="col">
						Username:
					</div>
					<div class="col">
						<input type="text" name="username"/>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						First Name:
					</div>
					<div class="col">
						<input type="text" name="firstName"/>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						Last Name:
					</div>
					<div class="col">
						<input type="text" name="lastName"/>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						Password
					</div>
					<div class="col">
						<input type="password" name="password"/>
					</div>
				</div>
				<input type="submit" value="Register"/>
			</form>
		</div>
		<div class="col">
			@if (TempData["message"] != null)
            		{
            			<p style="color: red;">@TempData["message"]</p>
            		}
		</div>
	</div>
</div>
