<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>

@if (IsSectionDefined("HeaderSection"))
{
    @RenderSection("HeaderSection")    
}
else
{
    Html.RenderPartial("_DefaultTopSection", new { JakasWartosc = "To jest jakas wartosc" });
}


@RenderBody()


@if (IsSectionDefined("FooterSection"))
{
    @RenderSection("FooterSection")
}
else
{
    Html.RenderPartial("_DefaultFooterSection");
}

</body>
</html>
