@{
    ViewBag.Title = "Bank";
}
<div class="row justify-content-md-center">
	<h2>Login to your account</h2>
</div>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col">
			<form asp-action="Login"
			      asp-controller="Authentication"
			      method="post">
				<div class="row">
					<div class="col">
						Username:
					</div>
					<div class="col">
						<input type="text" name="username"/>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						Password:
					</div>
					<div class="col">
						<input type="password" name="password"/>
					</div>
				</div>
				<input type="submit" value="Login"/>
			</form>
		</div>
		<div class="col">
			@if (TempData["message"] != null)
            		{
            			<p style="color: orange;">@TempData["message"]</p>
            		}
		</div>
	</div>
</div>
